@media screen and (max-width: 1024.99px) {
    header {
        padding: 29px 0;
        >.container {
            gap: 0;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 66px;
            background-color: $bg-color;
            z-index: 1;
        }
    }

    .header-logo {
        max-width: 114px;
    }

    section {
        margin-bottom: $section-mobile-mb;
    }

    .container {
        padding: 0 25px;
    }

    .mobile-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #0B0C0Dd1;
        padding: 25px;
        background-image: linear-gradient(245deg, rgba(35, 114, 73, 0.32) 0%, rgba(53, 198, 107, 0.32) 51.85%);
        backdrop-filter: blur(10px);
        transition: .3s;
        visibility: hidden;
        transform: translate(0, -100%);
        flex-direction: column;
        gap: 32px;

        &.show {
            top: 68px;
            transform: translate(0, 0);
            visibility: visible;
            z-index: 3;
        }

        .btn.btn-secondary {
            margin-left: initial;
            font-size: 20px;
            padding: 10px;
        }
    }
    .menu__list {
        gap: 48px;
        flex-direction: column;
    }

    .btn {
        &.btn-outline {
            width: 52px;
            height: 52px;
            border-radius: 18px;
            svg {
                height: 22px;
            }
        }
    }

    .btn.btn-primary, 
    .btn.btn-secondary {
        font-size: 12px;
        padding: 8px 12px;
    }

    .we-make {
        display: flex;

        .container {
            flex-direction: column;
            margin-bottom: 64px;
        }

        &__img-box {
            max-width: 164px;
            margin-left: 30%;
            margin-bottom: 60px;

            &::before {
                top: 12px;
                right: 15px;
            }
        }
        .we-make__line {
            right: -70%;
            width: 208%;
            bottom: 40%;
            z-index: -2;
        }

        .accent-label-sm {
            top: 30%;
            left: 150%;
            width: 78px;
            height: 78px;
            font-size: 18px;
            font-weight: 500;
            .accent-label-image {
                width: 78px;
                height: 78px;
            }
        }

        &__content-box {
            max-width: 320px;
            width: 100%;
        }
    }


    .template-title {
            font-size: min(12vw, 48px);
            margin-bottom: 36px;
        }
    
    .template-description {
            font-size: 12px;
            margin-bottom: 38px;
        }

    .banner {
        .container {
            flex-direction: column-reverse;
            align-items: center;
        }

        .template-title {
            margin-bottom: 36px;
        }

        .template-description {
            margin-bottom: 36px;
        }

        &-btn-group {
            gap: 10px;
            margin-bottom: 36px;
        }

        &-statistic__title {
            font-size: 42px;
        }

        &-statistic__subtitle {
            font-size: 12px;
        }

        &-statistic__item {
            width: auto;
        }

        &-img {
            padding: 0 60px;
            margin-right: initial;
        }

        .banner-img::before {
            display: none;
        }

        .banner-img::after {
           right: -50px;
           bottom: -50px;
        }

        .banner-line {
        width: 160%;
        left: 6vw;
        bottom: -17vw;
        top: initial;
        position: absolute;
        z-index: -1;
        }
    }

    .banner .banner-img .accent-label {
        right: 126px;
    }

    .advantages-row {
        padding: 20px 42px;
        border-radius: 27px;
        flex-direction: column;
        max-width: 218px;

        &::after {
            right: 14%;
            bottom: -14%;
            background: url(./assets/img/decoration__advantages-light-sm.png) center no-repeat;
            width: 297px;
            height: 317px;
        }

        &::before {
            left: 50%;
            top: 0%;
            background: url(./assets/img/decoration__advantages-accent-sm.png) center no-repeat;
            width: 310px;
            height: 277px;
        }

        .advantage__title {
            font-size: 1.125rem;
            margin-bottom: 0;
        }

        .advantage__description {
            font-size: 0.75rem;
            margin-bottom: 0;
        }

        .accent-label-sm {
            left: 76%;
            top: -7%;
            width: 78px;
            height: 78px;
            font-size: 18px;
        }

        .accent-label-image {
            width: 78px;
            height: 78px;
        }


        .advantage__img-box {
            --size: 86px;
            margin-bottom: 8px;

            img {
                max-width: 122px;
                max-height: 110px;
            }
        }
    }
    
    .modal {
        &.show {
            max-width: 360px;
            line-height: initial;
            border: 1px solid;
        }
        .modal-content {
            padding: 6px;
            font-size: 12px;
            line-height: inherit;
        }
    }

    .carousel-wrapper {
        .swiper-product {
            max-width: 402px;
        }
    }
    
    .swiper-navigation {
        max-width: 544px;
    }


    .products-title-wrapper {
        flex-direction: column;
        margin-bottom: 42px;

        .template-title {
            max-width: 320px;
            margin: 0 0 36px;
        }

        .template-description {
            max-width: 320px;
        }
    }
    
    .product {
        border-radius: 19px;
        padding: 38px 20px 20px;
        width: 183px;
    
        &-img {
            --size: 120px;
            margin-bottom: 20px;
    
            img {
                height: 160px;
            }
        }
    
        &-title {
            font-size: 21px;
            margin-bottom: 2px;
        }
    
        &-description {
            font-size: 13px;
            margin-bottom: 4px;
        }
    
        &-value {
            gap: 23px;
            margin-bottom: 20px;
        }
    
        &-price {
            font-size: 21px;
        }

        &-volume {
            font-size: 13px;
        }
    
        .btn {
            font-size: 11px;
            padding: 9px 25px;
        } 
    }
    

    .modal-footer {
        .btn-modal-nav {
            padding: 4px;
            font-size: 12px;
        }
    }

    .close {
        font-size: 22px;
        padding: 0 6px;
        border-radius: 2px;
    }

    .footer {
        padding: 37px 0 7px;
        &__logo {
            max-width: 135px;
        }
        &-nav {
            order: 1;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px;
            padding: 38px 0 32px;
        }
    
        &-row {
            flex-wrap: wrap;
            margin-bottom: 0;
            .btn {
                margin-left: auto;
            }
        }

        .footer-nav__title,
        .footer-nav__link{
            font-size: 15px;
        }

        .footer-nav__column {
            padding: 0;
        }

        .footer-phones__item {
            font-size: 16px;
        }

        .footer-social__item {
            width: 34px;
            height: 34px;
        }

        .btn {
            margin-top: -17px;
        }
    }
}


