@media screen and (max-width: 575.99px) {
    .banner-img::after {
        display: none;
    }

    .banner .accent-label {
        right: 110px;
    }
    
    .banner .banner-line {
        width: 160%;
        left: 6vw;
        bottom: -64vw;
    }
    
}
