@media screen and (max-width: 575.99px) {
    .banner-img::after {
        display: none;
    }

    .banner .banner-img .accent-label {
        right: 104px;
    }
    
    .banner .banner-line {
        width: 160%;
        left: 6vw;
        bottom: -64vw;
    }
    
    .carousel-wrapper {
        .swiper-product {
            max-width: 184px;
        }
    }
    
    .swiper-navigation {
        max-width: 324px;
    }
}
