.contacts {
    .container {
        position: relative;
        display: flex;
        gap: 0 24px;
        justify-content: space-between;
        //margin-bottom: 100px;
    }

    &__img-box {
        position: relative;
        max-width: 465px;

        img {
            @include clip-left-top;
        }

        &::before {
            content: "";
            position: absolute;
            @include clip-left-top;
            top: 27px;
            left: 34px;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: $primary-color;
        }

        &::after {
            content: "";
            position: absolute;
            right: -26%;
            top: -16%;
            width: 581px;
            height: 537px;
            background: url(./assets/img/decoration__we-make-img-box-light.png) center no-repeat;
            z-index: -1;
        }
    }
    .contacts__img-box-light {

            &::before {
               content: "";
               position: absolute;
               right: -8%;
                top: -32%;
               width: 579px;
               height: 537px;
               background: url(./assets/img/decoration__we-make-img-box-accent.png) center no-repeat;
               z-index: -1;
            }   
    }

    .accent-label-sm {
            top: -26px;
            left: -44px;
            width: 160px;
            height: 160px;
            font-size: 38px;
            font-weight: 500;
                .accent-label-image {
                width: 160px;
                height: 160px;
                }
        }
    

    &__content-box {
        max-width: 447px;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            left: -100px;
            top: 0px;
            width: 600px;
            height: 557px;
            background: url(./assets/img/decoration__we-make-content-box-accent.png) center no-repeat;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            right: -9%;
            top: 88%;
            width: 516px;
            height: 479px;
            background: url(./assets/img/decoration__we-make-content-box-light.png) center / cover no-repeat;
            z-index: -1;
        }
    }

}


.contacts-grid {
    display: grid;
    align-items: center;
    justify-items: flex-start;
    grid-template-columns: 50px 300px;
    gap: 28px 20px;
    font-size: 32px;
    font-weight: 500;

    div {
        text-align: left;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .contacts-social-icon {
        img {
            display: flex;
            width: 50px;
            height: 50px;
        }
    }
}


        
.decoration__contacts-line {
    position: absolute;
    top: 68px;
    right: -170px;
    width: 1000px;
    z-index: -2;
}

.decoration__contacts-line-mobile {
    display: none;
}