.events {
    .container {
        position: relative;

        .template-description::after {
            content: "";
            position: absolute;
            left: 246px;
            top: 294px;
            width: 322px;
            height: 277px;
            background: url(./assets/img/decoration__events-light.png) center no-repeat;
            z-index: -1;
           }
    
        .template-description::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 588px;
            width: 322px;
            height: 277px;
            background: url(./assets/img/decoration__events-light.png) center no-repeat;
            z-index: -1;
           }
    
        .events-decoration-accent::after {
            content: "";
            position: absolute;
            left: -88px;
            top: 374px;
            width: 275px;
            height: 220px;
            background: url(./assets/img/decoration__events-accent.png) center no-repeat;
            z-index: -1;
           }
    
        .events-decoration-accent::before {
            content: "";
            position: absolute;
            right: -100px;
            top: 428px;
            width: 275px;
            height: 220px;
            background: url(./assets/img/decoration__events-accent.png) center no-repeat;
            z-index: -1;
           }
    }
}

.events-title-wrapper {
    @extend .products-title-wrapper;
    flex-direction: row-reverse;

    .template-title {
        margin-right: 0;
        margin-left: var(--margin);

        &::after {
            content: "";
            position: absolute;
            left: -300px;
            top: 120px;
            width: 275px;
            height: 220px;
            background: url(./assets/img/decoration__events-accent.png) center no-repeat;
            z-index: -1;
        }
    }
}


.events-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    }

    .event {
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 44px 26px 26px;
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &-title {
            max-width: 230px;
            line-height: 108.5%;
        }
    }
    
    .event-1 { 
        grid-area: 1 / 1 / 4 / 7; 
        
    }

    .event-2 { 
        grid-area: 1 / 7 / 4 / 13; 
    }

    .event-3 { 
        grid-area: 4 / 1 / 7 / 5; 
        .event-title {
            max-width: 245px;
        }
    }

    .event-4 { 
        grid-area: 4 / 5 / 7 / 9; 
    }

    .event-5 { 
        grid-area: 4 / 9 / 7 / 13; 
        .event-title {
            max-width: 300px;
        }
    }
       
.events-line {
    position: absolute;
    top: 0;
    left: -340px;
    width: 700px;
    z-index: -1;
    }
