.events {
    .container {
        position: relative;

        .template-description::after {
            content: "";
            position: absolute;
            left: 246px;
            top: 294px;
            width: 322px;
            height: 277px;
            background: url(./assets/img/decoration__events-light.png) center no-repeat;
            z-index: -1;
           }
    
        .template-description::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 588px;
            width: 322px;
            height: 277px;
            background: url(./assets/img/decoration__events-light.png) center no-repeat;
            z-index: -1;
           }
    
        .events-decoration-accent::after {
            content: "";
            position: absolute;
            left: -88px;
            top: 374px;
            width: 275px;
            height: 220px;
            background: url(./assets/img/decoration__events-accent.png) center no-repeat;
            z-index: -1;
           }
    
        .events-decoration-accent::before {
            content: "";
            position: absolute;
            right: -100px;
            top: 428px;
            width: 275px;
            height: 220px;
            background: url(./assets/img/decoration__events-accent.png) center no-repeat;
            z-index: -1;
           }
    }
}

.events-title-wrapper {
    @extend .products-title-wrapper;
    flex-direction: row-reverse;

    .template-title {
        margin-right: 0;
        margin-left: var(--margin);

        &::after {
            content: "";
            position: absolute;
            left: -300px;
            top: 120px;
            width: 275px;
            height: 220px;
            background: url(./assets/img/decoration__events-accent.png) center no-repeat;
            z-index: -1;
        }
    }
}




.event-item {
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 44px 26px 26px;
        border-radius: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 614px;
        margin: 0 auto;

        h3 {
            max-width: 230px;
            line-height: 108.5%;
        }
    }
    
.event-area-1 { 
        grid-area: 1 / 1 / 4 / 7; 
        
    }

.event-area-2 { 
        grid-area: 1 / 7 / 4 / 13; 
    }

.event-area-3 { 
        grid-area: 4 / 1 / 7 / 5; 
        .event-title {
            max-width: 245px;
        }
    }

.event-area-4 { 
        grid-area: 4 / 5 / 7 / 9; 
    }

.event-area-5 { 
        grid-area: 4 / 9 / 7 / 13; 
        .event-title {
            max-width: 300px;
        }
    }

.carousel-wrapper {
        position: relative;
        .swiper-events {
            max-width: 1252px;
            margin: 0 auto;
        }
    }

.swiper-events {

        .swiper-events-button-prev {
            @extend .swiper-button-prev;
            cursor: pointer;
        }
    
        .swiper-events-button-next {
            @extend .swiper-button-next;
            cursor: pointer;
        }  
      }
       
.events-line {
    position: absolute;
    top: 0;
    left: -340px;
    width: 700px;
    z-index: -1;
    }



