.overlay {
    background-color: #00000085;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 0;
    width: 0;transition: .1s;
    cursor: pointer;

    &.show {
        height: 100vh;
        width: 100vw;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    border: 4px solid;
    border-radius: 15px;
    padding: 10px;
    background-color: $primary-color;
    font-size: 24px;
    font-weight: 500;
    visibility: hidden;
    transition: .2s;
    opacity: 0;
    max-width: 991px;
    width: max-content;

    &.show {
        visibility: visible;
        opacity: 1;
        max-width: 640px;
        line-height: 1.2em;
    }

    .btn-primary,
    .btn-secondary {
        padding: 12px 32px;
        font-size: 20px;
    }
}

.modal-header {
    display: flex;
    justify-content: end;
  }

.modal-content {
    padding: 10px;
    video {
        width: 100%;
    }

    .input-row {
        display: flex;
        justify-content: space-between;
        gap: 4px;
    }
}

.feedback-field {
    .modal-body {
        .modal-content {
            padding: 10px;
        }
    
        input {
            font-size: 20px;
            margin-bottom: 10px;
        }
    
        textarea {
            font-size: 18px;
            width: 100%;
            padding: 10px;
        }
    
        .text {
            input {
                align-items: center;
            }
        }
    }
}

.modal-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .btn-modal-nav {
        padding: 10px;
    }

    .modal-footer__btn-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding: 3px 10px;
    background-color: #ff0000;
    border-radius: 3px;
}
  
.close:hover,
.close:focus {
    color: #121517;
    text-decoration: none;
    cursor: pointer;
  }