.carousel-wrapper {
    position: relative;
    .swiper-product {
        max-width: 1252px;
        margin: 0 auto;
    }
}

.products-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 56px;

    .template-title {
        position: relative;
        --margin: 72px;
        max-width: 390px;
        margin-right: var(--margin);
        margin-bottom: 0;

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: -110px;
            width: 581px;
            height: 537px;
            background: url(./assets/img/decoration__products-accent-md.png) center no-repeat;
            z-index: -1;
           }
    }

    .template-description {
        position: relative;
        margin-bottom: 0;

        &::after {
            content: "";
            position: absolute;
            left: -572px;
            top: 277px;
            width: 516px;
            height: 479px;
            background: url(./assets/img/decoration__products-light.png) center no-repeat;
            z-index: -1;
           }
    
        &::before {
            content: "";
            position: absolute;
            left: -240px;
            top: 150px;
            width: 516px;
            height: 479px;
            background: url(./assets/img/decoration__products-light.png) center no-repeat;
            z-index: -1;
           }
    }

    .products-decoration-accent {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 116px;
            top: 238px;
            width: 332px;
            height: 372px;
            background: url(./assets/img/decoration__products-accent-sm.png) center no-repeat;
            z-index: -1;
           }

        
        &::before {
            content: "";
            position: absolute;
            left: -414px;
            top: 100px;
            width: 537px;
            height: 778px;
            background: url(./assets/img/decoration__products-accent-xl.png) center no-repeat;
            z-index: -1;
           }
    }
}


.product {
    border: 1px solid #D9D9D9;
    border-radius: 29px;
    padding: 50px 30px 32px;
    text-align: center;
    width: 277px;

    &-img {
        --size: 186px;
        height: var(--size);
        width: var(--size);
        background-image: linear-gradient(245deg, $primary-color 0%, $secondary-color 100%);
        border-radius: 50%;
        position: relative;
        margin-bottom: 36px;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 241px;
        }
    }

    &-title {
        margin-bottom: 0;
    }

    &-description {
        font-weight: 400;
    }

    &-value {
        display: flex;
        gap: 35px;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 30px;
    }

    &-price {
        font-weight: 500;
        font-size: 32px;
    }

    .btn {
        font-size: 17px;
        padding: 18px 38px;
    }
}



.swiper-navigation {
    @include transform-centered;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1492px;
    height: 0;
    z-index: 1;
    background: red;

    .swiper-button-prev,
    .swiper-button-next { 
        position: static;
        transform: rotate(90deg)
    }

    .swiper-button-prev {
        transform: rotate(270deg);
    }
}