.we-make {
    .container {
        display: flex;
        position: relative;
        gap: 0 24px;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__img-box {
        position: relative;
        max-width: 465px;

        img {
            @include clip-right;
        }

        &::before {
            content: "";
            position: absolute;
            @include clip-right;
            top: 36px;
            right: 49px;
            width: calc(100% - 3px);
            height: calc(100% - 3px);
            z-index: -1;
            background-color: $primary-color;
        }

        &::after {
            content: "";
            position: absolute;
            right: -42%;
            top: -10%;
            width: 581px;
            height: 537px;
            background: url(./assets/img/decoration__we-make-img-box-light.png) center no-repeat;
            z-index: -1;
        }

       //&::before {
       //    content: "";
       //    position: absolute;
       //    left: 0%;
       //    top: 0%;
       //    width: 579px;
       //    height: 537px;
       //    background: url(./assets/img/decoration__we-make-img-box-accent.png) center no-repeat;
       //    z-index: -1;
       //}

        .accent-label-sm {
            top: 0;
            left: 66%;
            width: 160px;
            height: 160px;
            font-size: 38px;
            font-weight: 500;
            .accent-label-image {
                width: 160px;
                height: 160px;
            }
        }
    }

    &__content-box {
        max-width: 470px;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            right: -15%;
            top: -30%;
            width: 600px;
            height: 557px;
            background: url(./assets/img/decoration__we-make-content-box-accent.png) center no-repeat;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            right: 14%;
            top: 50%;
            width: 516px;
            height: 479px;
            background: url(./assets/img/decoration__we-make-content-box-light.png) center no-repeat;
            z-index: -1;
        }
    }
}


.we-make__line {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1002px; 
    height: 624px;
    display: none;
}

