<section class="contacts">
    <div class="container">
        <div class="contacts__content-box">
            <h2 class="template-title">Our <span class="gradient-text">Contacts</span></h2>
            <h6 class="template-description">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!</h6>
           
        </div>
        <div class="contacts__img-box">
            <div class="contacts__img-box-light"></div>
            <div class="accent-label-sm">
                <div class="accent-label-image"></div>
                <div class="accent-label-shadow"></div>
                <span>
                    we have
                </span>
            </div> 
            <img src="./assets/img/contacts.png" alt="we-make">
        </div>
       
        
            
    </div>
</section>