<div class="container">
    <h1 class="fw-300">Hello, I am first screen</h1>
    <h1 class="fw-400">Hello, I am first screen</h1>
    <h1 class="fw-500">Hello, I am first screen</h1>
    <h1 class="fw-600">Hello, I am first screen</h1>
    <h1 class="fw-800">Hello, I am first screen</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloremque sequi laborum, quidem ipsum modi. Illo eius qui veniam laboriosam unde perferendis maiores, consequuntur ab rerum animi veritatis nesciunt. Sint.
</div>