<div id="process" class="modal">
    <div class="modal-header">
        <span class="close" data-modal-close>&times;</span>
    </div>
   <div class="modal-body">
        <div class="modal-content">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/Z7e8tmcSrxg" title="Barista Show" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
   </div>
    <button class="btn btn-secondary" data-modal-close type="button">Close</button>
</div>

<div id="feedback" class="modal">
    <div class="modal-header">
        <span class="close" data-modal-close>&times;</span>
    </div>
   <div class="modal-body">
        <div class="modal-content">
            Here you could contact us.
        </div>
   </div>
    <button class="btn btn-secondary" data-modal-close type="button">Close</button>
</div>