<div id="process" class="modal video-process">
    <div class="modal-header">
        <span class="close" data-modal-close>&times;</span>
    </div>
   <div class="modal-body">
        <div class="modal-content">  
            <video src="./assets/img/cappuccino.mp4" id="video" poster="./assets/img/poster-capuccino.jpg" controls>Sorry, your browser doesn't support embedded videos, but don't worry, you can
                <a href="./assets/img/cappuccino.mp4">download it</a>
                and watch it with your favorite video player!</video>
        </div>
   </div>
    <div class="modal-footer">
        <div class="modal-footer__btn-nav">
            <button id="play" class="btn btn-modal-player">
                <svg>
                    <use href="#icon-triangle"></use>
                </svg>
            </button>
            <button id="pause" class="btn btn-modal-player">
                <svg>
                    <use href="#icon-pause"></use>
                </svg>
            </button>
            <button id="stop" class="btn btn-modal-player">
                <svg>
                    <use href="#icon-stop"></use>
                </svg>
            </button>
            <button id="preparation" class="btn btn-modal-nav">preparation</button>
            <button id="cooking" class="btn btn-modal-nav">cooking</button>
            <button id="enjoyment" class="btn btn-modal-nav">enjoyment</button>
        </div>
    </div>
</div>

<div id="feedback" class="modal feedback-field">
    <div class="modal-header">
        <span class="close" data-modal-close>&times;</span>
    </div>
   <div class="modal-body">
        <div class="modal-content">
            <form action="" autocomplete="off">
              <fieldset>
                  <div class="input-row">
                    <div class="input-description">
                      <label for="fname">Name:</label>
                    </div>
                    <div class="input-field">
                      <input id="fname" placeholder="&nbsp;Vincenco Napoli" type="text">
                    </div>
                  </div>

                  <div class="input-row">
                    <div class="input-description">
                      <label for="phone">Tel.:</label>
                    </div>
                    <div class="input-field">
                      <input type="tel" name="" id="phone" placeholder="&nbsp;+421 000 000 000">
                    </div>
                  </div>

                  <div class="input-row">
                    <div class="input-description">
                      <label for="email">E-mail:</label>
                    </div>
                    <div class="input-field">
                      <input type="email" name="email" id="email" placeholder="&nbsp;example@gmail.com">
                    </div>
                  </div>

                  <div class="input-row">
                    <div class="input-description">
                      <label for="country">Country:</label>
                    </div>
                    <div class="input-field">
                      <input id="country" placeholder="&nbsp;Italy" type="text">
                    </div>
                  </div>
              
                  <div class="input-row">
                    <div class="input-description">
                      <label for="message">Text:</label>
                    </div>
                    <div class="input-field">
                      <textarea name="message" rows="5" cols="24" placeholder="Your message..."></textarea>
                    </div>
                  </div>
              </fieldset>
                
              </form>
        </div>
   </div>
   <div class="modal-footer">
        <div class="btn-modal-nav">
            <div class="modal-footer__btn-nav">
                
                    <button class="btn btn-secondary" type="reset">Reset</button>
                    <button class="btn btn-primary" type="submit" value="submit">Submit</button>
                
            </div>
        </div>
   </div>
</div>