<section class="products">
    <div class="container">
        <div class="products-title-wrapper">
            <h2 class="template-title">New Our <span class="gradient-text">Products</span></h2>
            <h6 class="template-description">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!  Starbucks coffee and don't forget about the discount!</h6>
            <div class="products-decoration-accent"></div>
        </div>
    </div>
    <div class="carousel-wrapper">
         <!-- Slider main container -->
        <div class="swiper swiper-product">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                        <img src="./assets/img/product-1.png" alt="product">
                        </div>
                        <h3 class="product-title">Latte</h3>
                        <h6 class="product-description">Lattes are for people who enjoy a smooth, milky coffee</h6>
                        <div class="product-value">
                            <div class="product-price">6,00$</div>
                            <div class="product-volume">330 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-2.png" alt="product">
                        </div>
                        <h3 class="product-title">Mochaccino</h3>
                        <h6 class="product-description">Hybrid between a mocha and a cappuccino</h6>
                        <div class="product-value">
                            <div class="product-price">7,15$</div>
                            <div class="product-volume">250 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                         <img src="./assets/img/product-3.png" alt="product">
                        </div>
                        <h3 class="product-title">Flat White</h3>
                        <h6 class="product-description">For people who like a standard white coffee. Super!</h6>
                        <div class="product-value">
                            <div class="product-price">5,70$</div>
                            <div class="product-volume">300 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-4.png" alt="product">
                        </div>
                        <h3 class="product-title">Cappuccino</h3>
                        <h6 class="product-description">Equal parts espresso, steamed milk, and milk foam</h6>
                        <div class="product-value">
                            <div class="product-price">6,00$</div>
                            <div class="product-volume">200 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-1.png" alt="product">
                        </div>
                        <h3 class="product-title">Long Black</h3>
                        <h6 class="product-description">Double shot of espresso poured over boiling water</h6>
                        <div class="product-value">
                            <div class="product-price">7,10$</div>
                            <div class="product-volume">360 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-2.png" alt="product">
                        </div>
                        <h3 class="product-title">Short Black</h3>
                        <h6 class="product-description">Single shot of espresso with a cup of hot water</h6>
                        <div class="product-value">
                            <div class="product-price">5,50$</div>
                            <div class="product-volume">200 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-3.png" alt="product">
                        </div>
                        <h3 class="product-title">Macchiato</h3>
                        <h6 class="product-description">Single shot of espresso with a dollop of foam</h6>
                        <div class="product-value">
                            <div class="product-price">4,00$</div>
                            <div class="product-volume">250 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-4.png" alt="product">
                        </div>
                        <h3 class="product-title">Chai Latte</h3>
                        <h6 class="product-description">Chai syrup is combined with steamed milk</h6>
                        <div class="product-value">
                            <div class="product-price">4,45$</div>
                            <div class="product-volume">330 ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="swiper-navigation">
            <div class="swiper-button-prev btn btn-outline">
                <svg>
                    <use href="#icon-arrow"></use>
                </svg>
            </div>
            <div class="swiper-button-next btn btn-outline">
                <svg>
                    <use href="#icon-arrow"></use>
                </svg>
            </div>
        </div>
       </div>
</section>